/* SearchForm.css */

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }
  
  .search-form-content {
    width: 100%;
    max-width: 600px;
  }
  
  .search-form-elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .form-control {
    flex-grow: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .form-control:focus {
    outline: none;
    border-color: #00796b;
  }
  